* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
    text-decoration: none;
}

body {
    font-family: Play, sans-serif;
    font-weight: 700;
    height: 100%;
    margin: 0;
    background: #f0f0f0;
    font-family: "Roboto Mono", sans-serif;
}
.header-logo {
    width: 100%;
    background-color: #f0f0f0;
    padding: 0px 40px;
    height: 100px;
}
.header-logo img {
    display: block;
    width: 360px;
    height: 120px;
    position: fixed;
    z-index: 99;
}
.header-language {
    color: #2b87d3;
    font-size: 28px;
    font-weight: bold;
    left: 90%;
    top: 0;
    margin-top: 30px;
}
.header-content {
    background-color: #f0f0f0;
    width: 100%;
    text-align: center;
    height: 460px;
    font-size: 40px;
    font-weight: bold;
    color: #2b87d3;
    padding-top: 8%;
}
@media only screen and (min-width: 1700px) {
    .header-content {
        height: 680px;
    }
}
.menu {
    font-family: sans-serif;
}
nav {
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 120px;
    padding: 0px 40px;
    position: sticky;
    top: 0;
}
nav a {
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 0px 20px;
    color: #2b87d3;
    font-size: 28px;
    font-weight: bold;
}
.icon-blue {
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 3px;
    color: #f0f0f0;
    background: #2b87d3;
    display: inline-block;
    font-size: 18px;
}
.icon-menu {
    font-family: Play, sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 3px;
    color: #f0f0f0;
    background: #2b87d3;
    display: inline-block;
    font-size: 20px;
}
.langswitch {
    position: absolute;
    top: 40px;
    right: 40px;
    text-align: right;
    z-index: 99;
}
.langswitch-opener {
    color: #2b87d3;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    right: 0px;
    border: 2px;
    padding: 8px 12px;
    display: inline-block;
}
.langswitch-opener:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04));
} 

.row {
    width: 100%;
    padding: 45px 0px;
    background: #f0f0f0;
   
}

.row-dark{
    /* background: #2d3943; */
    background-color: #2d3943;
    /* height: 61.5rem; */
    color: white;
}
.row-content {
    width: 1140px;
    max-width: 100%;
    padding: 40px ;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.icontext {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.icontext-icon {
    font-size: 180px;
    border: 1px solid #374652;
    width: 50%;
    text-align: center;
    margin-top: -1px;
    padding: 10px 0;
}
.icontext-text {
    width: 50%;
    font-size: 16px;
}
.icontext-text h3 {
    color: #2b87d3;
    font-size: 24px;
    padding-bottom: 2px;
}
.icontext-text p {
    color: #f0f0f0;
    font-size: 16px;
    padding-bottom: 5px;
}
.mod-iconleft {
    flex-direction: row;
} 
.mod-iconright {
    flex-direction: row-reverse;
    text-align: right;
}
.mod-iconright .icontext-text {
    padding-right: 75px;
}
.mod-iconleft .icontext-text {
    padding-left: 30px;
}

.row-content-2 {
    width: 1070px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number-blue span:nth-child(1) {
    color: #2b87d3;
    font-size: 150px;
}
.number-blue span:nth-child(2) {
    font-size: 40px;
    padding-left: 18px;
    color: #0c396a;
    font-weight: 100;
}
.mod-compact span:nth-child(1){
    font-size: 120px;
    color: #2b87d3;
} 
.mod-compact span:nth-child(2) {
    font-size: 30px;
    color: #0c396a;
    font-weight: 100;
}
.mod-compact span:nth-child(4) {
    font-size: 30px;
    color: #0c396a;
    font-weight: 100;
    padding-top: 10px;
}
.row-center .number-icon {
    color: #1FD78D;
    width: 50%;
    font-size: 150px;
    text-align: center;
    margin-top: -1px;
    padding: 10px 0;
}
.row-center .number-button {
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 3px;
    color: #f0f0f0;
    background: #1FD78D;
    display: inline-block;
    font-size: 18px;
}
.row-right .number-icon {
    color: #2b87d3;
    width: 50%;
    font-size: 150px;
}
.row-right .number-button {
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 3px;
    color: #f0f0f0;
    background: #2b87d3;
    display: inline-block;
    font-size: 18px;
}
.number-button .btn-color {
    color: #f0f0f0;
}
.row-left-play .number-icon {
    color: #F62451;
    width: 50%;
    font-size: 150px;
    text-align: center;
    margin-top: -1px;
}
.row-left-play .number-button {
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 3px;
    color: #f0f0f0;
    background: #F62451;
    display: inline-block;
    font-size: 18px;
}
.row-right-ram .number {
    font-size: 110px;
    color: #2b87d3;
}
.row-right-ram .text {
    font-size: 30px;
    color: #0c396a;
    font-weight: 100;
    padding-left: 12px;
}
.row-left-player .number {
    font-size: 110px;
    color: #2b87d3;
}
.row-left-player .text {
    font-size: 30px;
    color: #0c396a;
    font-weight: 100;
    padding-left: 12px;
}
.row-right-player .number-icon {
    color: #EB7B59;
    width: 50%;
    font-size: 150px;
    text-align: center;
    margin-top: -1px;
    padding: 10px 0;
}
.row-right-player .number-button {
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 3px;
    color: #f0f0f0;
    background: #EB7B59;
    display: inline-block;
    font-size: 18px;
}
/* .row-right, .number-blue, .row-left-play, .row-left, .row-center, .row-right-ram, .row-left-player, .row-right-player {
    border: 1px solid red;
} */


.row-center , .row-right , .row-left-play, .row-right-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
}
.tetris {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #d7d7d7;
}

.number-blue {
    grid-column: 1 / 4;
    text-align: center;
    padding: 20px;
}
.row-left {
    grid-column: 1 / 2;
    padding: 40px;
    text-align: center;
    border-top: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
}
.row-center {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border-top: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
}
.row-right {
    grid-column: 3 / 4 ;
    border-bottom: 1px solid #d7d7d7;
}
.row-left-play {
    grid-column: 1 / 2;
    border-right: 1px solid #d7d7d7;
}
.row-right-ram {
    grid-column: 2 / 5;
    text-align: center;
    padding: 60px 0;
}
.row-left-player {
    grid-column: 1 / 3;
    text-align: center;
    padding: 60px 0;
    border-right: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
}
.row-right-player {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
.row-dark .row-content h2 {
    font-size: 34px;
    margin: 10px 0px 15px;
}
.grid-up, .grid-down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.box , .box-help{
    width: 50%;
    padding: 40px;
}
.box-help a {
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 3px;
    color: #2d3943;
    background: #f0f0f0;
    display: inline-block;
    font-size: 18px;
}
.grid-up .box i , .grid-down .box i, .grid-down .box-help > :nth-child(1){
    font-size: 128px;
    padding: 20px;
} 
.grid-up h3, .grid-down h3 , .box-help h3 {
    color: #2b87d3;
    font-size: 24px;
    padding-bottom: 10px;
} 
.grid-up p , .grid-down p , .box-help p {
    font-size: 16px;
    font-weight: 100;
}
.box-help p {
    padding-bottom: 10px;
}
.row-content-game {
    width: 1140px;
    max-width: 100%;
    padding: 20px ;
    margin: 0 auto;
    font-weight: 100;
}
.row-content-game h2 {
    font-size: 34px;
    color: #2d3943;
    padding-bottom: 20px;
} 
.row-content-game h3 {
    font-size: 24px;
    color: #2b87d3;
    padding-bottom: 10px;
}
.software-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
}
.software-group {
    background: #2d3943;
    color: #f0f0f0;
    border-radius: 3px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
}

/* test */
.btn-software {
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 3px;
    color: #2d3943;
    background: #f0f0f0;
    display: inline-block;
    align-items: center;
    width: 150px;
    margin-bottom: 8px;
}
.software {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8px;
}
.software-desc {
    font-size: 16px;
    font-weight: 100;
    color: #f0f0f0;
    margin-left: 20px;
    align-self: center;
}
.software-name {
    display: flex;
    align-self: center;
}

.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-last {
    text-align: center;
    margin: 0 auto;
}
.btn-row-last {
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    padding: 20px 30px 20px 18px;
    border-radius: 3px;
    color: #f0f0f0;
    background: #2b87d3;
    display: inline-block;
    font-size: 28px;
}


